{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'img/sangue.svg' %}">
    <title>{% block title %}Sangue Bom{% endblock %}</title>
</head>
<body class="pagina-auth">

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>