{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    <title>Benefícios para Doadores</title>

<body>

    <main>

        <!-- TÍTULO -->
        <section>

            <h1>Benefícios para Doadores</h1>

            <p>
                Doe regularmente e desbloqueie vantagens exclusivas
            </p>


            <!-- AVISO DE CADASTRO -->
            <div>

                <span>🧡</span>

                <strong>
                    Cadastre-se para ver seu progresso de benefícios
                </strong>
             <a href="cadastro.html" class="btn-cadastro">
                    <button type="button">Cadastre-se</button> 
              </a>

            </div>


            <!-- REQUISITOS -->
            <div>

                <h2>📋 Requisitos (Lei do DF)</h2>


                <!-- CARD MULHERES -->
                <div class="card">

                    <span>👩</span>

                    <div>
                        <strong>Mulheres</strong>

                        <h3>2</h3>

                        <p>
                            doações em 12 meses
                        </p>
                    </div>

                </div>


                <!-- CARD HOMENS -->
                <div class="card">

                    <span>👨</span>

                    <div>
                        <strong>Homens</strong>

                        <h3>3</h3>

                        <p>
                            doações em 12 meses
                        </p>
                    </div>

                </div>


                <p>
                    ⚖️ Baseado na legislação do Distrito Federal.
                    Comprovante emitido pelos hemocentros credenciados.
                </p>

            </div>


            <!-- BENEFÍCIOS -->
            <section>

                <h2>🎁 O que você ganha</h2>


                <!-- CARDS DOS BENEFÍCIOS -->
                <div class="cards">


                    <!-- CARD 1 -->
                    <article class="card">

                        <div>
                            🎵
                        </div>

                        <h3>
                            Shows e Festivais
                        </h3>

                        <p>
                            Acesso VIP e ingressos gratuitos em shows
                            e festivais parceiros no DF.
                        </p>

                        <div>
                            <span>Rock in Rio</span>
                            <span>Lollapalooza</span>
                            <span>Nilson Nelson</span>
                        </div>

                    </article>


                    <!-- CARD 2 -->
                    <article class="card">

                        <div>
                            🎬
                        </div>

                        <h3>
                            Cinema
                        </h3>

                        <p>
                            Entradas gratuitas em redes de cinema
                            parceiras.
                        </p>

                        <div>
                            <span>Cinemark</span>
                            <span>UCI Cinemas</span>
                            <span>Cinépolis</span>
                        </div>

                    </article>


                    <!-- CARD 3 -->
                    <article class="card">

                        <div>
                            ✈️
                        </div>

                        <h3>
                            Viagens
                        </h3>

                        <p>
                            Descontos em passagens, hotéis e pacotes
                            turísticos.
                        </p>

                        <div>
                            <span>CVC</span>
                            <span>Decolar</span>
                            <span>Hotéis parceiros</span>
                        </div>

                    </article>


                    <!-- CARD 4 -->
                    <article class="card">

                        <div>
                            📋
                        </div>

                        <h3>
                            Concursos Públicos DF
                        </h3>

                        <p>
                            Isenção de taxas em concursos públicos
                            do Distrito Federal.
                        </p>

                        <div>
                            <span>GDF</span>
                            <span>PMDF</span>
                            <span>CBMDF</span>
                        </div>

                    </article>


                    <!-- CARD 5 -->
                    <article class="card">

                        <div>
                            💉
                        </div>

                        <h3>
                            Vacinação Prioritária
                        </h3>

                        <p>
                            Prioridade em campanhas de vacinação
                            do GDF.
                        </p>

                        <div>
                            <span>Gripe anual</span>
                            <span>COVID-19</span>
                            <span>Campanhas</span>
                        </div>

                    </article>


                    <!-- CARD 6 -->
                    <article class="card">

                        <div>
                            🎭
                        </div>

                        <h3>
                            Cultura & Lazer
                        </h3>

                        <p>
                            Entradas em museus, teatros e eventos
                            culturais.
                        </p>

                        <div>
                            <span>Teatro Nacional</span>
                            <span>Museu Nacional</span>
                            <span>Planetário</span>
                        </div>

                    </article>

                </div>

            </section>

        </section>

    </main>
    <!-- LATERAL DIREITA -->
    <!--
        Está embaixo do main no HTML.
        O CSS depois vai colocar essa parte do lado direito.
    -->

    <aside>

        <!-- PRÓXIMA DOAÇÃO -->
        <section>

            <p>Próxima doação disponível</p>

            <h2>
                Você pode doar! ✅
            </h2>

            <p>
                3 doações • 12 vidas
            </p>

        </section>


        <!-- MENSAGEM -->
        <section>

            <h3>
                💗 Sua atitude pode salvar até 4 vidas!
            </h3>

            <p>
                Doe sangue. Doe vida.
            </p>

            <p>
                Seja sangue bom!
            </p>

        </section>


        <!-- CAMPANHA -->
        <section>

           <img src="{% static 'img/campanha.jpeg' %}" alt="Campanha">
            <h3>
                Participe das campanhas e faça a diferença.
            </h3>

            <a href="campanhas.html">
                Ver campanhas
            </a>

        </section>


        <!-- BOTÃO DE DÚVIDAS -->
        <button type="button">
            ?
        </button>

    </aside>

        <script src="{% static 'js/script.js' %}"></script>

</body>

</html>