{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/campanhas.css' %}">

    <h1>Campanhas</h1>
    <p>Participe das campanhas ativas e faça ainda mais diferença.</p>

    <section>

        {% for c in campanhas %}
            <article class="card">
                <h2>{{ c.emoji }}</h2>
                <span>{{ c.get_status_display }}</span>
                <h3>{{ c.titulo }}</h3>
                <p>{{ c.descricao }}</p>

                {% if c.local %}
                    <p>📍 {{ c.local }}</p>
                {% endif %}

                {% if c.data %}
                    <p>📅 {{ c.data }}</p>
                {% endif %}

                <a href="{% url 'agendar_doacao' %}">
                    <button type="button">Participar</button>
                </a>
            </article>
        {% empty %}
            <div class="campanha-vazia">
                <span>🩸</span>
                <p>Nenhuma campanha ativa no momento.</p>
                <p>Volte em breve!</p>
            </div>
        {% endfor %}

    </section>

{% endblock %}