{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Meu Perfil - SangueBom</title>
</head>

<body>

    <main>

        <header>
            <div>
                <a href="cadastro.html">← Voltar</a>
            </div>
            <h1>Meu Perfil</h1>
            <p>Águas Lindas de Goiás – GO</p>
        </header>

        <section>

            <div>
                <h2>PRÓXIMA DOAÇÃO</h2>
                <p>Liberado!</p>
                <p>Você já pode doar 😊</p>
            </div>

            <div>
                <h2>BENEFÍCIOS VIP</h2>
                <p>0/2</p>
                <p>Doações nos últimos 12 meses</p>
            </div>

            <div>
                <h2>SEU IMPACTO</h2>
                <p>12</p>
                <p>vidas potencialmente salvas</p>
                <p>1.350 ml</p>
                <p>de sangue doado</p>
            </div>

        </section>

        <section>
            <div>
                <h2>Histórico de Doações</h2>
                <a href="agendar-doacao.html">
                    <button>+ Nova doação</button>
                </a>
            </div>

            <div>
                <div>
                    <div>
                        <strong>Hemocentro de Taguatinga</strong>
                        <span>Plaquetas</span>
                        <span>22 de jan. de 2025</span>
                    </div>
                    <span>Última</span>
                </div>

                <div>
                    <div>
                        <strong>Hemocentro de Brasília – HBDF</strong>
                        <span>Sangue Total</span>
                        <span>18 de set. de 2024</span>
                    </div>
                </div>

                <div>
                    <div>
                        <strong>Hemocentro de Brasília – HBDF</strong>
                        <span>Sangue Total</span>
                        <span>10 de jun. de 2024</span>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2>Agendamentos</h2>

            <div>
                <div>
                    <strong>Hemocentro do Gama</strong>
                    <span>sábado, 9 de julho às 07:30</span>
                </div>
                <span>Confirmado</span>
            </div>
        </section>

    </main>

     <script src="{% static 'js/script.js' %}"></script>

</body>
</body>

</html>