{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylecss' %}">
    <title>Notificações - Sangue Bom</title>
</head>

<body>
     <a href="javascript:history.back()" class="btn-voltar">
        ← Voltar
    </a>

    <header>
        <h1>🔔 Notificações</h1>

        <a href="home">🏠 Início</a>
    </header>


    <main>

        <section>
            <h2>Suas notificações</h2>

            <article>
                <h3>🚨 Estoque O- em nível crítico</h3>
                <p>
                    O estoque de sangue O- está em nível crítico na sua região.
                    Sua doação pode ajudar a salvar vidas.
                </p>
            </article>

            <article>
                <h3>📅 Lembrete de doação</h3>
                <p>
                    Você já pode realizar uma nova doação de sangue.
                </p>
            </article>

            <article>
                <h3>🩸 Nova campanha disponível</h3>
                <p>
                    Participe das campanhas de doação e faça a diferença.
                </p>

            <a href="{% url 'campanhas' %}">
                Ver campanhas
           </a>

            <article>
                <h3>✅ Agendamento confirmado</h3>
                <p>
                    Seu agendamento de doação foi confirmado com sucesso.
                </p>
            </article>

        </section>

    </main>
      <script src="{% static 'js/script.js' %}"></script>


</body>
</body>

</html>